<virtualhost *:{{ httpd_port }}>
    
    servername  {{ domain_name }}
    documentroot /var/www/html/{{ domain_name }}
    directoryindex index.html index.php
    
    <directory /var/www/html/{{domain_name}}>
       allowoverride all
    </directory>
    
</virtualhost>
